{% extends 'base.html.twig' %}

{% block title %}Transporte{% endblock %}

{% block body %}
    <h1>Transporte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transporte.id }}</td>
                <td>{{ transporte.url }}</td>
                <td>{{ transporte.titulo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transporte_index') }}">back to list</a>

    <a href="{{ path('transporte_edit', {'id': transporte.id}) }}">edit</a>

    {{ include('transporte/_delete_form.html.twig') }}
{% endblock %}
