{{ form_start(form) }}
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.fichero) }}
		</div>	
		<div class="col-md-12">
			{{ form_row(form.titulo) }}
		</div>		
		<div class="col-md-12">
			{{ form_row(form.texto) }}
		</div>			
	</div>	
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.save) }}
		</div>
	</div>		
<<<<<<< HEAD
{{ form_end(form) }}
=======
{{ form_end(form) }}
>>>>>>> dcf9c9a2110984771503bd8ffab06a90048f7c0e
