{% extends 'base.html.twig' %}

{% block title %}Alojamiento{% endblock %}

{% block body %}
    <h1>Alojamiento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alojamiento.id }}</td>
                <td>{{ alojamiento.nombre }}</td>
                <td>{{ alojamiento.descripcion }}</td>
                <td>{{ alojamiento.direccion }}</td>
                <td>{{ alojamiento.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('alojamiento_index') }}">back to list</a>

    <a href="{{ path('alojamiento_edit', {'id': alojamiento.id}) }}">edit</a>

    {{ include('alojamiento/_delete_form.html.twig') }}
{% endblock %}
